<h1>{{query}}</h1>

<div id="generatedPlaylist">
    <form method="post">
        <h3>Playlist Title</h3>
        <input type="text" name="title" value="{{query}} Playlist" required> 

        <h3> Songs </h3>
        {%if list%}
            {% for song in list %}
                <p>{{song[0]}}: {{song[1]}}</p>
            {% endfor %}
        {% else %}
            <p>No Songs Available Right Now</p>
        {% endif %}

        <h3>Please Select Playlist Type:</h3>
        <input type="radio" id="public" name="playlistType" value="true" required>
        <label for="public" >Public</label>
        <input type="radio" id="private" name="playlistType" value="false">
        <label for="private">Private</label>

        {% if authorized %}
            <input type="submit" value="Save on Spotify"> 
        {% else %}
            <input type="submit" value="Login"> 
        {% endif %}
    </form>
</div>

{% if not authorized %}
    <p>Must authorize app to save playlist.</p>
{% endif %}